@using BlazorYahtzee.Models
@using BlazorYahtzee.Models.Modes

<div class="row">
    <div class="@Mode.CategoryCssClassName p-2 font-weight-bold text-right">
        Lower Section
    </div>
    @foreach (var column in Mode.Columns)
    {
        <div class="@Mode.ColumnCssClassName p-2 font-weight-bold border text-right">
            @Player.Plays(column).ScoreForLowerSection()
        </div>
    }
</div>

<div class="row">
    <div class="@Mode.CategoryCssClassName p-2 font-weight-bold text-right">
        Upper Section
    </div>
    @foreach (var column in Mode.Columns)
    {
        <div class="@Mode.ColumnCssClassName p-2 font-weight-bold border text-right">
            @Player.Plays(column).ScoreForUpperSectionWithBonus()
        </div>
    }
</div>

<div class="row">
    <div class="@Mode.CategoryCssClassName p-2 font-weight-bold text-right">
        Column Total
    </div>
    @foreach (var column in Mode.Columns)
    {
        <div class="@Mode.ColumnCssClassName p-2 font-weight-bold border text-right">
            @Player.Plays(column).TotalScore()
        </div>
    }
</div>

@code {
    [Parameter]
    public IMode Mode { get; set; }

    [Parameter]
    public Player Player { get; set; }
}